.explore-button {
    padding:7.5px 15px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0);
    border-color: #00c2cb;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: .8rem;
    font-weight: 600;
}
.explore-button:hover {
    background-color: #00c2cb;
    border-color: white;
    color: #212529 ;
    /* color:white; */
}
.navbar-collapse {
    flex-grow: 0 !important;
}

@font-face {
    font-family:"aileron";
    src: url("assets/fonts/aileron.otf") format("opentype");
}

.logo-container {
    display:flex;
}
.logo-container a {
    padding-right: 20px;
}
.logo-container div h3 {
    font-family: "aileron";
    color: white;
    margin-bottom: 0rem;
}

.hero-section {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}


/* .hero-section img {
    margin-right: 100px;
} */
.hero-section h1 {
    color: white;
    font-family: "aileron";
    font-size: 100px;
}
.hero-section h2 {
    color: white;
    padding-left: 10px;
}
.hero-section h2 span {
    color: #00c2cb;
}
.hero-section h2 b {
    color: #00f2ff;
}



/* .explore-button-2 {
    margin-top: 20px;
    border-radius: 40px;
    padding:25px 50px;
    
    background-color: #00c2cb;
    border-color: white;
    
    color: #212529 ;
    font-family: "Montserrat", sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
}
.explore-button-2:hover {
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border-color: #00c2cb;  
    
    color:white;
} */

.skills-section {
    /* background-color: #111; */
    color: #fff;
    display: flex;
    align-items: center;
    height: 100vh;
}
.skills-section p {
    font-family: Inconsolata, source code pro, consolas, monospace;
    margin-left: 50%;
    transform: translateX(-6em);
    font-size: 2rem;
    font-weight: bold;
}

.explore-a{
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 40px 0;
    color: #00c2cb;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-right: 10px;
   
}
.explore-a:hover{
    background: #00c2cb;
    color: #050801;
    box-shadow: 0 0 5px #00c2cb,
                0 0 25px #00c2cb,
                0 0 50px #00c2cb,
                0 0 200px #00c2cb;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}



.explore-a:nth-child(1){
    filter: hue-rotate(270deg);
}
.explore-a:nth-child(2){
    filter: hue-rotate(110deg);
}
.explore-a span{
    position: absolute;
    display: block;
}
.explore-a span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#00c2cb);
    animation: animate1 1s linear infinite;
}
@keyframes animate1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
.explore-a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#00c2cb);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}
.explore-a span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#00c2cb);
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
}
@keyframes animate3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}


.explore-a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#00c2cb);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}


.galaxy-section {
    margin: 0;
}

.social-div {
    display: flex;
}
.social-div i {
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 40px 0;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    /* letter-spacing: 4px; */
    font-size: 1.25rem;
    overflow: hidden;
    margin-right: 10px;
   
}
.social-div i:hover {
    background: #00c2cb;
    color: #050801;
    box-shadow: 0 0 5px #00c2cb,
                0 0 25px #00c2cb,
                0 0 50px #00c2cb,
                0 0 200px #00c2cb;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}

@media (max-width: 1450px) {
    .hero-section h1 {
        font-size: 75px;
    }
    .hero-section h2 {
        font-size: 1.5rem
    }
    .explore-a {
        font-size: 0.75rem;
        margin-right: 5px;
    }
    .social-div i {
        /* font-size: 1rem; */
        margin-right: 5px;
    }
}
@media (max-width: 1080px) {
    .hero-section {
        display: flex;
    }
    .hero-section img {
        visibility: hidden;
        width:0%
    }
    .hero-section + div {
        text-align:center;
        width:100%;
    }
    .hero-section h1 {
        text-align:center;
        letter-spacing: 20px;
        font-size: 100px;
    }
    .hero-section h2 {
        font-size: 2rem
    }
    .explore-a {
        font-size: 1rem;
        margin-right: 10px;
    }
    .social-div i {
        /* font-size: 1rem; */
        margin-right: 10px;
    }
}

@media (max-width: 770px) {
    .hero-section h1 {
        text-align:center;
        letter-spacing: 10px;
        font-size: 75px;
    }
    .hero-section h2 {
        text-align:center;

        font-size: 1.5rem
    }
    .social-div {
        display: block;
    }
    .explore-a {
        text-align: center;
        font-size: 1rem;
        margin-right: 10px;
        margin-bottom:10px;
        width:100%;
    }
    .social-div i {
        /* font-size: rem; */
        margin-right: 10px;
        margin-top:0px;
        width:30%;
        text-align:center;
    }
}

@media (max-width: 640px) {
    .hero-section h2 {
        font-size: 1.25rem;
    }
}

@media (max-width: 600px) {
    .social-div i {
        width: 25%;
    }
    .hero-section h1 {
        font-size: 50px;
    }
    .hero-section h2 {
        font-size: 1rem
    }
}