@media (max-width: 1400px) {
  .features-row {
    width: 100.9%;
  }
}

@media (max-width: 768px) {
  .features-row {
    width: 110%;
  }
}

@media (max-width: 992px) {
  .features-row {
    width: 102%;
  }
}

@media (max-width: 1200px) {
  .features-row {
    width: 101%;
  }
}

