@media (max-width: 1400px) {
  .features-row {
    width: 100.9%;
  }
}

@media (max-width: 1200px) {
  .features-row {
    width: 101%;
  }
}

@media (max-width: 992px) {
  .features-row {
    width: 101.3%;
  }
}

@media (max-width: 768px) {
  .features-row {
    width: 101.6%;
  }
}

@media (max-width: 576px) {
  .features-row {
    width: 102.2%;
  }
}

@media (max-width: 300px) {
  .features-row {
    width: 103.4%;
  }
}

.features-row div {
  background: #015475;
  color: rgb(255,255,255);
  padding: 20px;
}

@media (max-width: 768px) {
  .features-row div {
    padding: 40px;
    text-align: center;
    justify-content: center;
  }
}

.hero-header h1 {
  font-size: 70px;
  text-shadow: 3px 3px rgb(0,93,96);
}

@media (max-width: 300px) {
  .hero-header h1 {
    font-size: 50px;
  }
}

.hero-header h2 {
  text-shadow: 2px 2px rgb(3,152,158);
  margin-bottom: 15px;
}

@media (max-width: 300px) {
  .hero-header h2 {
    font-size: 22px;
  }
}

@media (max-width: 300px) {
  .hero-header p {
    font-size: 10px;
  }
}

.logo-img {
  width: 50%;
}

@media (max-width: 576px) {
  .logo-img {
    width: 70%;
  }
}

.blurred-box {
  border-radius: 15px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
}

.blurred-box:before {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);
  content: '';
  height: 100%;
  position: absolute;
  width: 100%;
}

@media (max-width: 992px) {
  .blurred-box img {
    width: 100% !important;
    height: 100% !important;
  }
}

.header-div h1 {
  font-size: 60px;
}

@media (max-width: 300px) {
  .header-div h1 {
    font-size: 25px !important;
  }
}

@media (max-width: 768px) {
  .header-div h1 {
    font-size: 45px;
  }
}

.MTT-header {
  font-family: Armata, sans-serif;
  color: rgb(255,255,255);
  text-shadow: 2px 2px 5px rgba(74,74,74,0.5);
}

.MTT-tag {
  font-family: 'Allerta Stencil', sans-serif;
}

.MTT-para {
  text-align: justify;
  color: rgb(102,102,102);
  font-size: 16px;
}

.icons a:hover {
  color: rgb(0,133,139);
}

